@import 'compass/reset';
@import 'compass/css3/transition';
@import 'compass/css3/opacity';
@import 'compass/css3/images';
@import url(http://fonts.googleapis.com/css?family=Gudea:400:latin|Alegreya+Sans:400:latin);

$bg-color: #241714;
$fg-color: #eeeeee;

body {
  background-color: $bg-color;
  color: $fg-color;
  font-family: 'Gudea';

  h1, h2 { font-size: 2rem; }
  h3, h4 { font-size: 1.6rem; }
  h5, h6 { font-size: 1.2rem; }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans';
    font-weight: 400;
  }

  #pointer {
    @include transition(left 0.1s, top 0.1s);
    background-color: #f7d842;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: -8rem;
    top: -8rem;
    z-index: 15;
  }

  header[role=page] {
    text-align: center;
    color: $bg-color;
    background-color: $fg-color;
    padding: 1rem 0rem;
    font-variant: small-caps;
    border-bottom: dashed 0.4rem $bg-color;

    h1.title { font-size: 400%; text-transform: uppercase; }

    &.active {
      background-color: darken(green, 20%);
      color: #fff;
    }

    &.distracted {
      background-color: darken(red, 30%);
      color: #fff;
    }
  }

  section[role=page] {
    display: table;

    .item {
      width: 20%;
      height: 240px;
      float: left;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      display: table-cell;
      vertical-align: center;
      overflow: hidden;

      figcaption {
        z-index: 28;
      }
    }
  }
}
