@import url(http://fonts.googleapis.com/css?family=Gudea:200,700:latin|Alegreya+Sans:200,700:latin);
/* line 17, ../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../../src/sass/page.scss */
body {
  background-color: #241714;
  color: #eeeeee;
  font-family: 'Gudea';
}
/* line 16, ../../src/sass/page.scss */
body h1, body h2 {
  font-size: 2rem;
}
/* line 17, ../../src/sass/page.scss */
body h3, body h4 {
  font-size: 1.6rem;
}
/* line 18, ../../src/sass/page.scss */
body h5, body h6 {
  font-size: 1.2rem;
}
/* line 20, ../../src/sass/page.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Alegreya Sans';
  font-weight: 700;
}
/* line 25, ../../src/sass/page.scss */
body #pointer {
  -webkit-transition: left 0.1s, top 0.1s;
  -moz-transition: left 0.1s, top 0.1s;
  -o-transition: left 0.1s, top 0.1s;
  transition: left 0.1s, top 0.1s;
  background-color: #f7d842;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: -8rem;
  top: -8rem;
  z-index: 15;
}
/* line 37, ../../src/sass/page.scss */
body header[role=page] {
  text-align: center;
  color: #241714;
  background-color: #eeeeee;
  padding: 1rem 0rem;
  font-variant: small-caps;
  border-bottom: dashed 0.4rem #241714;
}
/* line 45, ../../src/sass/page.scss */
body header[role=page] h1.title {
  font-size: 400%;
  text-transform: uppercase;
}
/* line 47, ../../src/sass/page.scss */
body header[role=page].active {
  background-color: #001a00;
  color: #fff;
}
/* line 52, ../../src/sass/page.scss */
body header[role=page].distracted {
  background-color: #660000;
  color: #fff;
}
/* line 58, ../../src/sass/page.scss */
body section[role=page] {
  background-image: url(../assets/loading.gif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 600px;
}
/* line 66, ../../src/sass/page.scss */
body section[role=page] .item {
  width: 20%;
  height: 240px;
  float: left;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
  display: table;
}
/* line 77, ../../src/sass/page.scss */
body section[role=page] .item figcaption {
  -webkit-transition: background-color 0.4s, font-size 0.6s;
  -moz-transition: background-color 0.4s, font-size 0.6s;
  -o-transition: background-color 0.4s, font-size 0.6s;
  transition: background-color 0.4s, font-size 0.6s;
  z-index: 28;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  background-color: rgba(58, 58, 58, 0.2);
  overflow-x: hidden;
}
/* line 87, ../../src/sass/page.scss */
body section[role=page] .item figcaption a {
  color: #fff;
  text-decoration: none;
  font-variant: small-caps;
}
/* line 91, ../../src/sass/page.scss */
body section[role=page] .item:hover figcaption, body section[role=page] .item.active figcaption {
  background-color: rgba(58, 58, 58, 0.95);
}
/* line 93, ../../src/sass/page.scss */
body section[role=page] .item:hover figcaption a, body section[role=page] .item.active figcaption a {
  font-weight: 700;
}
